.favourites-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
    color: #333;
}


.no-fav{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}