.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
}
.home-header {
  margin-top: 40px;
}
.home-input {
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
  margin-top: 10px;
  top: 200px;
}
.btn-containers {
  position: fixed;
  top: 180px;
  border-radius: 8px;
}

.city-btn {
  top: 400px;
  border: none;
  padding: 10px;
  width: 200px;
  cursor: pointer;

  transition: 0.3s all;
}

.city-btn:hover {
  background-color: #0054ff;
  color: white;
}

.options {
  position: relative;
}

.temp-btn {
  margin-top: 20px;
  margin-left: 10px;
  color: #333;
  border: 1px solid #dfe3eb;
  width: 167px;
  border-radius: 8px;
  padding: 12px;
  font-weight: 700;
  transition: 0.3s all;
  background-color: white;
}

.temp-btn:hover {
  cursor: pointer;
  background-color: #f2f7ff;
  color: #0054ff;
  border: 1px solid #0054ff;
}