.city-display-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
  background-color: rgb(219, 219, 219);
}

.city-right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.city-display-btn {
  border: none;
  width: 150px;
  border-radius: 8px;
  padding: 12px;

  transition: 0.3s all;
}

.city-display-btn:hover{
  cursor: pointer;
  background-color: tomato;
}
