.five-day-container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.each-day-container {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 250px;
    border-radius: 8px;
    background-color: #f2f7ff;
    padding: 20px; 
    margin: 10px;
}